#Auto Crashes
----

### Analysis
* A file built to pull traffic crash data from JSON and csv's from government sources along with additional private data.
* Built from WeatherPy homework

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import time


#Sources
# FARS - Fatality tracker from NTHSB API List - https://crashviewer.nhtsa.dot.gov/CrashAPI

### Perform API Calls
* Pull full list of crashes in a given state for years 2012-2017.

In [2]:
#Crash List Information data pull from Crashstats.

#Two Varaibles, state and year
state_id=9
#CrashListDF = pd.DataFrame(columns=["CountyName", "CrashDate", "Fatals", "Peds", "Persons", "St_Case", "State", "StateName", "TotalVehicles"])

#CountyList = []
#DateList = []

def Pull_Crash(state_id, CrashYear):
    Target1 = "https://crashviewer.nhtsa.dot.gov/CrashAPI/crashes/GetCaseList?states="+str(state_id)
    Target2 = "&fromYear="+str(CrashYear)+"&toYear="+str(CrashYear)+"&minNumOfVehicles=1&maxNumOfVehicles=50&format=json"
    Target_Url = Target1 + Target2

#Assign Json Results to DataFrame
    response = requests.get(Target_Url).json()
    CrashRaw = pd.DataFrame.from_dict(response["Results"][0])
    CrashRaw["Year"] = CrashYear
    return CrashRaw
    

Crash2012 = Pull_Crash(9,2012)
print(2012)
print(Crash2012.head())

Crash2013 = Pull_Crash(9,2013)
#print(2013)
#print(Crash2013.head())

Crash2014 = Pull_Crash(9,2014)
#print(2014)
#print(Crash2014.head())

Crash2015 = Pull_Crash(9,2015)
#print(2015)
#print(Crash2015.head())

Crash2016 = Pull_Crash(9,2016)
#print(2016)
#print(Crash2016.head())

Crash2017 = Pull_Crash(9,2017)
#print(2017)
#print(Crash2017.head())
 
DFList = [Crash2012, Crash2013, Crash2014, Crash2015, Crash2016, Crash2017]    

CrashListDF = pd.concat(DFList)

CrashListDF.describe()

#CrashListDF = pd.DataFrame()
#CrashListDF["CountyName"] = CountyList
#CrashListDF["CrashDate"] = DateList
        
#CrashListDF.head()
#CrashListDF.describe()

2012
     CountyName                   CrashDate  Fatals  Peds  Persons  St_Case  \
0  HARTFORD (3)  /Date(1341851520000-0400)/       1     1        1    90057
1  HARTFORD (3)  /Date(1342302600000-0400)/       1     0        1    90095
2  HARTFORD (3)  /Date(1326897540000-0500)/       1     0        2    90106
3  HARTFORD (3)  /Date(1356808440000-0500)/       1     0        3    90219
4  HARTFORD (3)  /Date(1344808440000-0400)/       1     0        3    90213

   State    StateName  TotalVehicles  Year
0      9  Connecticut              1  2012
1      9  Connecticut              1  2012
2      9  Connecticut              2  2012
3      9  Connecticut              2  2012
4      9  Connecticut              1  2012

,Fatals,Peds,Persons,St_Case,State,TotalVehicles,Year
count,1556.000000,1556.000000,1556.000000,1556.000000,1556.0,1556.000000,1556.000000
mean,1.060411,0.226221,2.140103,90133.015424,9.0,1.548201,2014.552699
std,0.263932,0.498467,1.950094,77.284249,0.0,0.778896,1.709944
min,1.000000,0.000000,0.000000,90001.000000,9.0,1.000000,2012.000000
25%,1.000000,0.000000,1.000000,90066.750000,9.0,1.000000,2013.000000
50%,1.000000,0.000000,2.000000,90132.000000,9.0,1.000000,2015.000000
75%,1.000000,0.000000,3.000000,90199.000000,9.0,2.000000,2016.000000
max,4.000000,5.000000,37.000000,90294.000000,9.0,8.000000,2017.000000

### Modify Data into more usable formats
* Trim County Name
* Trim Date String

In [3]:
#Modify County Name
CountyString = CrashListDF['CountyName']
AddCounty = []

for county in CountyString:
    TempCounty = county.split("(")[0].rstrip()
    AddCounty.append(TempCounty)

CrashListDF['CountyName'] = AddCounty

In [4]:
#Modify Crash Date
DateString = CrashListDF['CrashDate']

AddDate = []

for date in DateString:
    TempDate = date.split("(")[1].split(")")[0]
    #TempDate = TempDate.split("-")[0]
    TempDate = TempDate[:10]
    AddDate.append(TempDate)

CrashListDF['CrashDate'] = AddDate



CrashListDF.head()

,CountyName,CrashDate,Fatals,Peds,Persons,St_Case,State,StateName,TotalVehicles,Year
0,HARTFORD,1341851520,1,1,1,90057,9,Connecticut,1,2012
1,HARTFORD,1342302600,1,0,1,90095,9,Connecticut,1,2012
2,HARTFORD,1326897540,1,0,2,90106,9,Connecticut,2,2012
3,HARTFORD,1356808440,1,0,3,90219,9,Connecticut,2,2012
4,HARTFORD,1344808440,1,0,3,90213,9,Connecticut,1,2012

In [5]:
CrashListDF['CrashDate'] = pd.to_datetime(CrashListDF['CrashDate'], unit = 's')
CrashListDF.head()

,CountyName,CrashDate,Fatals,Peds,Persons,St_Case,State,StateName,TotalVehicles,Year
0,HARTFORD,2012-07-09 16:32:00,1,1,1,90057,9,Connecticut,1,2012
1,HARTFORD,2012-07-14 21:50:00,1,0,1,90095,9,Connecticut,1,2012
2,HARTFORD,2012-01-18 14:39:00,1,0,2,90106,9,Connecticut,2,2012
3,HARTFORD,2012-12-29 19:14:00,1,0,3,90219,9,Connecticut,2,2012
4,HARTFORD,2012-08-12 21:54:00,1,0,3,90213,9,Connecticut,1,2012

In [6]:
CrashListDF["Month"] = CrashListDF["CrashDate"].dt.month
CrashListDF.head()

,CountyName,CrashDate,Fatals,Peds,Persons,St_Case,State,StateName,TotalVehicles,Year,Month
0,HARTFORD,2012-07-09 16:32:00,1,1,1,90057,9,Connecticut,1,2012,7
1,HARTFORD,2012-07-14 21:50:00,1,0,1,90095,9,Connecticut,1,2012,7
2,HARTFORD,2012-01-18 14:39:00,1,0,2,90106,9,Connecticut,2,2012,1
3,HARTFORD,2012-12-29 19:14:00,1,0,3,90219,9,Connecticut,2,2012,12
4,HARTFORD,2012-08-12 21:54:00,1,0,3,90213,9,Connecticut,1,2012,8

In [7]:
import calendar

MonthList = []

for mos in CrashListDF["Month"]:
    TempMonth = calendar.month_abbr[mos]
    MonthList.append(TempMonth)
    
CrashListDF["MonthName"] = MonthList
CrashListDF.head()

,CountyName,CrashDate,Fatals,Peds,Persons,St_Case,State,StateName,TotalVehicles,Year,Month,MonthName
0,HARTFORD,2012-07-09 16:32:00,1,1,1,90057,9,Connecticut,1,2012,7,Jul
1,HARTFORD,2012-07-14 21:50:00,1,0,1,90095,9,Connecticut,1,2012,7,Jul
2,HARTFORD,2012-01-18 14:39:00,1,0,2,90106,9,Connecticut,2,2012,1,Jan
3,HARTFORD,2012-12-29 19:14:00,1,0,3,90219,9,Connecticut,2,2012,12,Dec
4,HARTFORD,2012-08-12 21:54:00,1,0,3,90213,9,Connecticut,1,2012,8,Aug

In [8]:
MilesDF = pd.read_csv("data/SeasonVMT.csv")

YearList = []

for day in MilesDF["Date"]:
    YearDig = day.split("-")[1]
    YearDig = "20" + YearDig
    YearList.append(YearDig)
    
MilesDF["Year"] = YearList

MilesDF.head()

  Month    Date Orig_VMT  Adj_VMT  Year
0   Jan  Jan-00  203,442  227,898  2000
1   Feb  Feb-00  199,261  228,670  2000
2   Mar  Mar-00  232,490  229,880  2000
3   Apr  Apr-00  227,698  229,203  2000
4   May  May-00  242,501  229,805  2000

In [12]:
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy.orm import Session


# Create Engine and Pass in MySQL Connection
#engine = create_engine("mysql://k5xunpkmojyzse51:ifagg1gp7e2xyapi@ffn96u87j5ogvehy.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/tq6h098h0ym00zp6")
#conn = engine.connect()

#engine = create_engine('mysql+mysqlconnector://root:SirDidi18@DESKTOP-VTEGA78[3306]/accidentdata')
engine = create_engine('mysql://root@localhost/mydatabase?charset=utf8&use_unicode=0', pool_recycle=3600)
connection = engine.connect()

Base.metadata.create_all(engine)

session = Session(bind=engine)

CrashListDF.to_sql('crash_list', con=engine)

MilesDF.to_sql('miles', con=engine)

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'root'@'localhost' (using password: NO)") (Background on this error at: http://sqlalche.me/e/e3q8)

In [14]:
CrashListDF.to_csv("output/crash_list.csv")
MilesDF.to_csv("output/miles.csv")